@import "../variables.css";

.uploadFileButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color1);
  color: var(--primary-color4);
  font-family: "Changa One";

  /* color: #fff; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  text-transform: uppercase;
  align-self: center;
}

.uploadFileButton:hover {
  background-color: var(--primary-color3);
  color: white;
}

.inputDocumentTypeDescription {
  margin-right: 20px;
  text-transform: uppercase;
}

.selectDocumentType {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.addFileContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  /* align-items: center; */
}
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto";
}

.modalContent {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 60%;
  max-width: 800px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.close {
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 10px;
  font-family: "Roboto";
}

.statusBar {
  display: flex;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  left: 20px;
  color: #fefefe;
  font-family: "Changa One";

  font-size: 22px;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.statusBarHidden {
  bottom: -80px;
  transition: 1.5s ease;
}

.errorStatusBar {
  background-color: red;
}

.successStatusBar {
  background-color: greenyellow;
}

.inputModal {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
}

.modalButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modalButton:hover {
  background-color: #0069d9;
}

.modalButton:disabled,
.uploadFileButton:disabled {
  background-color: #888;
  cursor: no-drop;
}

.textInfo {
  margin-top: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close:hover {
  background-color: #0c7cd5;
}

select {
  align-self: center;
  margin: 10px 0;
  padding: 3px;
  border: 1px solid var(--primary-color3);
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: normal; /* Usunięcie domyślnej wartości line-height */
  height: 30px; /* Wysokość elementu select */
}

select:enabled {
  border: 1px solid var(--primary-color1);
}
