.titleImage {
  width: 90%;
  height: 60%;
  display: flex;
  /* justify-content: center; */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  align-self: center;
  justify-self: end;
  flex-grow: 0.6;
}

.allBooksContainer {
  display: flex;
  width: 90vw;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.bookContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.8);
}

.bookTitle,
.bookAuthor {
  flex-grow: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Roboto-M";
  color: rgb(76, 71, 71);
}

.bookAuthor {
  font-size: 10px;
}

.goBackButton {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
  width: 350px;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-family: "Changa One";
  background-color: var(--gray1);
  color: var(--gray3);
}

.bookContainer:hover {
  transform: scale(1.04);
}

/* showBookCategory.module.css */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto";
}

.modalContent {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 60%;
  max-width: 800px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.close {
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 10px;
  font-family: "Roboto";
}

.inputModal {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
}

.modalButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.textInfo {
  font-size: 14px;
  margin-bottom: 30px;
}

.modalButton:hover {
  background-color: #0069d9;
}

.modalButton:disabled {
  background-color: #888;
  cursor: no-drop;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  align-self: center;
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #007bff;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: normal;
  height: 30px;
}

select:enabled {
  border: 1px solid #007bff;
}
