.inputText {
  font-family: "Roboto-M";
  font-size: 14px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 60%;
  max-width: 800px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.statusBar {
  display: flex;
  width: 350px;
  height: 80px;
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  left: 20px;
  color: #fefefe;
  font-family: "Changa One";
  text-align: center;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.statusBarHidden {
  bottom: -80px;
  transition: 1.5s ease;
}

.errorStatusBar {
  background-color: red;
}

.successStatusBar {
  background-color: greenyellow;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #444;
}

.close {
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  margin-top: 20px;
  color: #555;
  font-size: 1.2rem;
  line-height: 1.5;
}

.registerComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.inputLogin {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
  font-size: 16px;
}

.btnRegister {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnGoBack {
}

.btnRegister:hover {
  background-color: #0069d9;
}
