:root {
  --gray1: #192a56;
  --gray2: #15285b;
  --gray3: #8498cd;
  --gray4: #d3ddf7;

  --primary-color1: #fb6197;
  --primary-color2: #fd79a8;
  --primary-color3: #fdb2cc;
  --primary-color4: #f7ebef;

  --secondary-color1: #55efc4;
  --secondary-color2: #00b894;
  --secondary-color3: #038268;
}
